.carousel-resizing {
    width: 85%;
    margin: auto;
}

.font-heading {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-weight: 600;
}
.content-style {
    text-align: justify;
    font-family: fantasy;
}
.image-height{
    height: 100%;
}
.quotes {
    display: inline-flex;
    list-style: none;
    margin-bottom: 0%;
}
